@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&family=Montserrat&display=swap");
.App {
  margin: 0;
  text-align: center;
  /* background: url(./images//worldMap3.jpg) center/cover; */
  background: linear-gradient(to bottom, #2c3e50, #4ca1af);
}
