@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&family=Montserrat&display=swap");
.App {
  margin: 0;
  /* background: url(./images//worldMap3.jpg) center/cover; */
  background: linear-gradient(to bottom, #2c3e50, #4ca1af);
}

.container {
  border-radius: 8px;
  width: 400px;
  height: 400px;
  max-width: 400px;
  max-height: 400px;
  background-color: rgba(255, 255, 255, 0.2);
}
.country-statistics {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
